@font-face {
    font-family: RobotoMono;
    src: url('fonts/RobotoMono-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoMono';
    src: url('fonts/RobotoMono-SemiBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: RobotoMono, serif;
    margin: 0;
    background-color: #f9f9f9;
    color: #333333;
}

input, button {
    border: none;
    background: none;
    color: #333333;
}

input:focus {
    outline: none;
    border: none;
}

#root {
    margin: 0 auto;
    max-width: 900px;
    min-height: 100vh;
    position: relative;
    padding-bottom: calc(45px + 50px);
    z-index: 0;
}

nav {
    padding: 5px 0;
    text-align: right;
}

nav .btn {
    background: none !important;
    color: #afafaf !important;
    box-shadow: none !important;
    font-size: 18px;
    padding: 5px;
    transition: none;
}

nav .btn:hover {
    color: #868686 !important;
}

nav .dropdown-menu {
    border-color: #ececec;
}

nav .dropdown-item {
    text-align: center;
    font-size: 10pt;
}

nav .dropdown-item:hover {
    background-color: #ececec;
}

nav .dropdown-item:active {
    background-color: #afafaf;
    color: #ffffff;
}

#header {
    position: relative;
    z-index: 0;
    border-top: 3px solid #afafaf;
    padding: 18px 0;
    display: flex;
    align-items: center;
}

#header #octocat {
    position: relative;
    z-index: 0;
    width: 30%;
}

#search {
    position: relative;
    z-index: 1;
    display: inline-block;
    width: 75%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    border: 1px solid #afafaf;
    overflow: hidden;
}

#search * {
    font-size: 16px;
}

.TagInput {
    display: flex;
}

.TagInput .tag {
    background-color: #9cdaf0;
    border: 1px solid #7cbae6;
    padding: 3px;
    margin: 7px 7px 0 0;
    border-radius: 4px;
}

.TagInput input {
    padding: 11px 11px 4px 4px;
}

.TagInput > div {
    flex: 1;
    padding: 0 0 7px 7px;
}

.TagInput > button {
    border: none;
    color: #ffffff;
    background-color: #afafaf;
    padding: 5px 10px;
}

.TagInput > button:hover {
    background-color: #868686;
}

#root > section {
    position: relative;
    z-index: 1;
    width: 90%;
    margin: 0 auto;
}

.Repo {
    margin-bottom: 20px;
}

footer {
    width: 100%;
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    font-size: 10pt;
    background-color: #afafaf;
    position: absolute;
    bottom: 0;
}